@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Merienda:wght@300..900&display=swap');
@import 'tailwindcss';
@plugin 'daisyui';
@plugin "daisyui/theme" {
    name: "firstbread";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.003 247.858);
    --color-base-200: oklch(96% 0.007 247.896);
    --color-base-300: oklch(92% 0.013 255.508);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(70% 0.165 254.624);
    --color-primary-content: oklch(27% 0.033 256.848);
    --color-secondary: oklch(70% 0.04 256.788);
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: oklch(75% 0.183 55.934);
    --color-accent-content: oklch(28% 0.066 53.813);
    --color-neutral: oklch(27% 0.006 286.033);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(95% 0.045 203.388);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(72% 0.219 149.579);
    --color-success-content: oklch(0% 0 0);
    --color-warning: oklch(90% 0.182 98.111);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(98% 0.003 247.858);
    --radius-selector: 0.5rem;
    --radius-field: 1rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-cursive: 'Merienda', cursive;
    --font-sans: 'DM Sans', sans-serif;
    --font-serif: 'DM Serif Display', serif;
}
